.section-resource {
  padding: 4em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #000000;
}

.dots-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dots-container {
  grid-column-gap: 1.2em;
  grid-row-gap: 1.2em;
  pointer-events: none;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0em;
}

.dot {
  will-change: transform, background-color;
  transform-origin: center;
  background-color: #1a1a1a;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  position: relative;
  transform: translate(0);
  margin: 0.2em;
} 